<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
	<meta name="generator" content="Bluefish 2.2.2" >
	<meta name="author" content="Muthu" >
	<META NAME="CREATED" CONTENT="20130403;8020000">
	<META NAME="CHANGEDBY" CONTENT="">
	<META NAME="CHANGED" CONTENT="">
	<META NAME="AppVersion" CONTENT="14.0000">
	<META NAME="DocSecurity" CONTENT="0">
	<META NAME="HyperlinksChanged" CONTENT="false">
	<META NAME="LinksUpToDate" CONTENT="false">
	<META NAME="ScaleCrop" CONTENT="false">
	<META NAME="ShareDoc" CONTENT="false">
	<STYLE TYPE="text/css">
	<!--
		@page { margin-left: 2.5cm; margin-right: 2.5cm; margin-top: 1.25cm; margin-bottom: 2.5cm }
		P { margin-bottom: 0.21cm; direction: ltr; color: #000000; widows: 2; orphans: 2 }
	-->
	</STYLE>
</HEAD>
<BODY LANG="en-EN" TEXT="#000000" DIR="LTR" onload="window.print()")>
<DIV TYPE=HEADER>
	<P STYLE="margin-bottom: 0cm; line-height: 100%">HEADER with Bank’s
	data</P>
	<P STYLE="margin-bottom: 0cm; line-height: 100%"><BR>
	</P>
	<P STYLE="margin-bottom: 1.15cm; border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.04cm; padding-left: 0cm; padding-right: 0cm; line-height: 100%">
	<BR>
	</P>
</DIV>
<P LANG="en-US" ALIGN=CENTER STYLE="margin-bottom: 0.35cm"><BR><BR>
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.35cm"><FONT SIZE=4 STYLE="font-size: 16pt"><SPAN LANG="en-US"><B>Purchase Order Sheet</B></SPAN></FONT></P>
<P LANG="en-US" ALIGN=CENTER STYLE="margin-bottom: 0.35cm"><BR><BR>
</P>
<P LANG="en-US" ALIGN=CENTER STYLE="margin-bottom: 0.35cm"><BR><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.35cm"><FONT COLOR="#222222"><FONT SIZE=3><SPAN LANG="en-US"><SPAN STYLE="background: #ffffff">Customer
data with the following contents</SPAN></SPAN></FONT></FONT><FONT COLOR="#222222"><FONT SIZE=3><SPAN LANG="en-US"><SPAN STYLE="background: #ffffff">
</SPAN></SPAN></FONT></FONT><FONT COLOR="#222222"><FONT SIZE=3><SPAN LANG="en-US"><SPAN STYLE="background: #ffffff">have
been recorded in …….. </SPAN></SPAN></FONT></FONT><FONT COLOR="#222222"><FONT SIZE=3><SPAN LANG="en-US"><I><SPAN STYLE="background: #ffffff">(date
of customer creation</SPAN></I></SPAN></FONT></FONT><FONT COLOR="#222222"><FONT SIZE=3><SPAN LANG="en-US"><SPAN STYLE="background: #ffffff">)
in the  XXXX bank system</SPAN></SPAN></FONT></FONT><FONT SIZE=3><SPAN LANG="en-US"><B>:</B></SPAN></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><FONT SIZE=3><SPAN LANG="en-US"><B>Main
data group:</B></SPAN></FONT></P>
<TABLE WIDTH=614 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=144>
	<COL WIDTH=442>
	<TR VALIGN=TOP>
		<TD WIDTH=144 STYLE="border: none; padding: 0cm">
			<P ALIGN=JUSTIFY><FONT SIZE=3><SPAN LANG="en-US">Customer ID</SPAN></FONT></P>
		</TD>
		<TD WIDTH=442 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY>$CUSTNO<BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=144 STYLE="border: none; padding: 0cm">
			<P ALIGN=JUSTIFY><FONT SIZE=3><SPAN LANG="en-US">Name</SPAN></FONT></P>
		</TD>
		<TD WIDTH=442 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY>$NAME<BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=144 STYLE="border: none; padding: 0cm">
			<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.35cm"><FONT SIZE=3><SPAN LANG="en-US">Citizenship</SPAN></FONT></P>
			<P LANG="en-US" ALIGN=JUSTIFY><BR>
			</P>
		</TD>
		<TD WIDTH=442 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY>$NLTY<BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=144 STYLE="border: none; padding: 0cm">
			<P ALIGN=JUSTIFY><FONT SIZE=3><SPAN LANG="en-US">Country of
			domicile</SPAN></FONT></P>
		</TD>
		<TD WIDTH=442 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY>$COUNTRY<BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=144 STYLE="border: none; padding: 0cm">
			<P ALIGN=JUSTIFY><FONT SIZE=3><SPAN LANG="en-US">Resident status</SPAN></FONT></P>
		</TD>
		<TD WIDTH=442 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY>$RESSTATUS<BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=144 STYLE="border: none; padding: 0cm">
			<P ALIGN=JUSTIFY><FONT SIZE=3><SPAN LANG="en-US">Customer type</SPAN></FONT></P>
		</TD>
		<TD WIDTH=442 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=144 STYLE="border: none; padding: 0cm">
			<P ALIGN=JUSTIFY><FONT SIZE=3><SPAN LANG="en-US">Birth date</SPAN></FONT></P>
		</TD>
		<TD WIDTH=442 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY>$DOB<BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=144 STYLE="border: none; padding: 0cm">
			<P ALIGN=JUSTIFY><FONT SIZE=3><SPAN LANG="en-US">Place of birth</SPAN></FONT></P>
		</TD>
		<TD WIDTH=442 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY>$POB<BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=144 STYLE="border: none; padding: 0cm">
			<P ALIGN=JUSTIFY><FONT SIZE=3><SPAN LANG="en-US">Language</SPAN></FONT></P>
		</TD>
		<TD WIDTH=442 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY>$LANG<BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=144 STYLE="border: none; padding: 0cm">
			<P ALIGN=JUSTIFY><FONT SIZE=3><SPAN LANG="en-US">Sex</SPAN></FONT></P>
		</TD>
		<TD WIDTH=442 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY>$SEX<BR>
			</P>
		</TD>
	</TR>
</TABLE>
<P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><FONT SIZE=3><SPAN LANG="en-US"><B>Statistical
data:</B></SPAN></FONT></P>
<TABLE WIDTH=614 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=144>
	<COL WIDTH=442>
	<TR VALIGN=TOP>
		<TD WIDTH=144 STYLE="border: none; padding: 0cm">
			<P ALIGN=JUSTIFY><FONT SIZE=3><SPAN LANG="en-US">Qualification</SPAN></FONT></P>
		</TD>
		<TD WIDTH=442 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=144 STYLE="border: none; padding: 0cm">
			<P ALIGN=JUSTIFY><FONT SIZE=3><SPAN LANG="en-US">Employment status</SPAN></FONT></P>
		</TD>
		<TD WIDTH=442 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=144 STYLE="border: none; padding: 0cm">
			<P ALIGN=JUSTIFY><FONT SIZE=3><SPAN LANG="en-US">Employment sector</SPAN></FONT></P>
		</TD>
		<TD WIDTH=442 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY><BR>
			</P>
		</TD>
	</TR>
</TABLE>
<P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><FONT SIZE=3><SPAN LANG="en-US"><B>Contact
data</B></SPAN></FONT></P>
<TABLE WIDTH=614 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=144>
	<COL WIDTH=442>
	<TR VALIGN=TOP>
		<TD WIDTH=144Documents STYLE="border: none; padding: 0cm">
			<P ALIGN=JUSTIFY><FONT SIZE=3><SPAN LANG="en-US">Legal address</SPAN></FONT></P>
		</TD>
		<TD WIDTH=442 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY><BR>$ADDRLN1<BR>$ADDRLN2<BR>$ADDRLN3<BR>$ADDRLN4
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=144 STYLE="border: none; padding: 0cm">
			<P ALIGN=JUSTIFY><FONT SIZE=3><SPAN LANG="en-US">Postal address</SPAN></FONT></P>
		</TD>
		<TD WIDTH=442 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY><BR>$PADD1<BR>$PADD2<BR>$PADD3
			</P>
		</TD>
	</TR>
</TABLE>
<P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm; page-break-after: avoid"><FONT SIZE=3><SPAN LANG="en-US">Phone
number:</SPAN></FONT></P>
<TABLE WIDTH=614 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=144>
	<COL WIDTH=442>
	<TR VALIGN=TOP>
		<TD WIDTH=144 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY><A NAME="típus"></A>Phone type<BR>
			</P>
		</TD>
		<TD WIDTH=442 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY>Phone no.<BR>
			</P>
		</TD>
	</TR>
	
	#foreach($phonerec in $ADDNPHDTLS)
	<TR VALIGN=TOP>
		<TD WIDTH=144 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY><A NAME="típus"></A>$phonerec.get(0)<BR>
			</P>
		</TD>
		<TD WIDTH=442 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY>$phonerec.get(1)<BR>
			</P>
		</TD>
	</TR>
	#end
</TABLE>
<P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm; page-break-after: avoid"><FONT SIZE=3><SPAN LANG="en-US">E-mail
address:</SPAN></FONT></P>
<TABLE WIDTH=456 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=442>
	<TR>
		<TD WIDTH=442 VALIGN=TOP STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY><BR>
			</P>
		</TD>
	</TR>
</TABLE>
<P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm; page-break-after: avoid"><FONT SIZE=3><SPAN LANG="en-US"><B>Documents</B></SPAN></FONT></P>
<TABLE WIDTH=508 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=66>
	<COL WIDTH=67>
	<COL WIDTH=97>
	<COL WIDTH=70>
	<COL WIDTH=139>
	<TR VALIGN=TOP>
		<TD WIDTH=66 STYLE="border: none; padding: 0cm">
			<P ALIGN=JUSTIFY><FONT SIZE=3><SPAN LANG="en-US">Type</SPAN></FONT></P>
		</TD>
		<TD WIDTH=67 STYLE="border: none; padding: 0cm">
			<P ALIGN=JUSTIFY><FONT SIZE=3><SPAN LANG="en-US">No</SPAN></FONT></P>
		</TD>
		<TD WIDTH=97 STYLE="border: none; padding: 0cm">
			<P ALIGN=JUSTIFY><FONT SIZE=3><SPAN LANG="en-US">Issued by</SPAN></FONT></P>
		</TD>
		<TD WIDTH=70 STYLE="border: none; padding: 0cm">
			<P ALIGN=JUSTIFY><FONT SIZE=3><SPAN LANG="en-US">Issue date</SPAN></FONT></P>
		</TD>
		<TD WIDTH=139 STYLE="border: none; padding: 0cm">
			<P ALIGN=JUSTIFY><FONT SIZE=3><SPAN LANG="en-US">Valid till</SPAN></FONT></P>
		</TD>
	</TR>
        #foreach ($documentKey in $alldocuments.keySet())
	<TR VALIGN=TOP>
		<TD WIDTH=66 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY>$documentKey<BR>
			</P>
		</TD>
		<TD WIDTH=67 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY>$alldocuments.get($documentKey)<BR>
			</P>
		</TD>
		<TD WIDTH=97 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY><BR>
			</P>
		</TD>
		<TD WIDTH=70 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY><BR>
			</P>
		</TD>
		<TD WIDTH=139 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY><BR>
			</P>
		</TD>
	</TR>
        #end
</TABLE>
<P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm; page-break-after: avoid"><FONT SIZE=3><SPAN LANG="en-US"><B>Relations</B></SPAN></FONT></P>
<TABLE WIDTH=621 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=69>
	<COL WIDTH=213>
	<COL WIDTH=90>
	<COL WIDTH=81>
	<COL WIDTH=99>
	<TR VALIGN=TOP>
		<TD WIDTH=69 STYLE="border: none; padding: 0cm">
			<P ALIGN=JUSTIFY><FONT SIZE=3><SPAN LANG="en-US">Type</SPAN></FONT></P>
		</TD>
		<TD WIDTH=213 STYLE="border: none; padding: 0cm">
			<P ALIGN=JUSTIFY><FONT SIZE=3><SPAN LANG="en-US">Customer name </SPAN></FONT>
			</P>
		</TD>
		<TD WIDTH=90 STYLE="border: none; padding: 0cm">
			<P ALIGN=JUSTIFY><FONT SIZE=3><SPAN LANG="en-US">Doc type</SPAN></FONT></P>
		</TD>
		<TD WIDTH=81 STYLE="border: none; padding: 0cm">
			<P ALIGN=JUSTIFY><FONT SIZE=3><SPAN LANG="en-US">Doc no</SPAN></FONT></P>
		</TD>
		<TD WIDTH=99 STYLE="border: none; padding: 0cm">
			<P ALIGN=JUSTIFY><FONT SIZE=3><SPAN LANG="en-US">Customer ID</SPAN></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=69 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY><BR>
			</P>
		</TD>
		<TD WIDTH=213 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY><BR>
			</P>
		</TD>
		<TD WIDTH=90 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY><BR>
			</P>
		</TD>
		<TD WIDTH=81 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY><BR>
			</P>
		</TD>
		<TD WIDTH=99 STYLE="border: none; padding: 0cm">
			<P LANG="en-US" ALIGN=JUSTIFY><BR>
			</P>
		</TD>
	</TR>
</TABLE>
<P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><A NAME="_GoBack"></A><FONT SIZE=3><SPAN LANG="en-US">Hereby
I confirm, that all the above data are correct and true.</SPAN></FONT></P>
<P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><BR>
</P>
<P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><BR>
</P>
<P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><BR>
</P>
<P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><FONT SIZE=3><SPAN LANG="en-US">Date:</SPAN></FONT></P>
<P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><BR>
</P>
<P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><BR>
</P>
<P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><FONT SIZE=3><SPAN LANG="en-US">									Customer		</SPAN></FONT></P>
</BODY>
</HTML>
