  <html>
<head>
	<title></title>
</head>
<body>
<p style="text-align: center;"><span style="font-size:16px;"><span style="font-family:lucida sans unicode,lucida grande,sans-serif;"><strong>Site Inventory Report</strong></span></span></p>

<p><span style="font-size:16px;"><span style="font-family:lucida sans unicode,lucida grande,sans-serif;"><strong><span style="font-size:14px;">Site Name:$SiteName</span></strong></span></span></p>

<table align="left" border="1" cellpadding="1" cellspacing="1" style="width: 500px;">
	
<thead>
		<tr>
			<td>DC No</td>
			<td>DC Date</td>
			<td>Item Name</td>
			<td>Quantity</td>
			<td>Amount</td>
		</tr>
</thead>
<tbody>
#foreach($!dcrec in $!DCDETAIL)
		<tr>
			<td>$!dcrec.get(0)</td>
			<td>$!dcrec.get(1)</td>
			<td>$!dcrec.get(2)</td>
			<td>$!dcrec.get(3)</td>
			<td>$!dcrec.get(4)</td>
		</tr>
#end		
	</tbody>
</table>

<p>&nbsp;</p>
</body>
</html>
