<html>
<head>
	<title></title>
</head>
<body>
<h2 style="font-weight: normal; line-height: 1.2; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, 'Trebuchet MS'; text-align: center;">PURCHASE ORDER SHEET</h2>


<table align="center"  style="width: 650px;">
	<tbody>
		<tr>
			<td><img alt="" id="sunimage" src="C:\GitHub\retsys-client\src\retsys\client\images\sun.jpg" width: 75px; height: 50px;" /></td>
			<td>
			<p style="text-align: right;"><span style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, 'Trebuchet MS'; font-size: 13px; line-height: 20.7999992370605px; text-align: center;">TIN:33865741388</span></p>

			<p style="text-align: right;"><span style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, 'Trebuchet MS'; font-size: 13px; line-height: 20.7999992370605px; text-align: center;">CST Nn:504730/Areacode:294</span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, 'Trebuchet MS'; font-size: 13px; line-height: 20.7999992370605px; text-align: center;">125-C, Katchery Road, Madurai Road,</span></p>

			<p><span style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, 'Trebuchet MS'; font-size: 13px; line-height: 20.7999992370605px; text-align: center;">Virudhunagar-626001</span></p>
			</td>
			<td><p style="text-align: right;"><span style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, 'Trebuchet MS'; font-size: 13px; line-height: 20.7999992370605px; text-align: right;">                     Contact:9750947650</span></p>

			<p style="text-align: right;"><span style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, 'Trebuchet MS'; font-size: 13px; line-height: 20.7999992370605px; text-align: right;">             e-mai:glowsunmail@gmail.com</span></p>
			</td>
		</tr>
		<tr>
			<td><span style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, 'Trebuchet MS'; font-size: 13px; line-height: 20.7999992370605px; text-align: center;">PO No:$pono</span></td>
			<td style="text-align: right;"><span style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, 'Trebuchet MS'; font-size: 13px; line-height: 20.7999992370605px; text-align: center;">PO Date:$podate</span></td>
		</tr>
	</tbody>
</table>

<table align="center" cellpadding="1" cellspacing="2" style="width: 650px;">
	<tbody>
		<tr>
			<td style="height: 10px;">Shop Name:$ShopName</td>
			
		</tr>
		<tr>
			<td>Site Name:$SiteName</td>
			
		</tr>
		<tr>
			<td>Delivery Address:$DeliveryAddress</td>
			
		</tr>
	</tbody>
</table>



<table align="center" border="1" cellpadding="1" cellspacing="1" style="width: 650px;">
	<thead>
		<tr>
			<th scope="col">S.No</th>
			<th scope="col">Location of Material in Building</th>
			<th scope="col">Material Name</th>
			<th scope="col">Brand Name</th>
			<th scope="col">Model/Code</th>
			<th scope="col">Quantity/Unit</th>
		</tr>
	</thead>
	<tbody>
#foreach($!itemrec in $!PODETAIL)
		<tr>
			<td scope="col">$!itemrec.get(0)</td>
			<td scope="col">$!itemrec.get(1)</td>
			<td scope="col">$!itemrec.get(2)</td>
			<td scope="col">$!itemrec.get(3)</td>
			<td scope="col">$!itemrec.get(4)</td>
			<td scope="col">$!itemrec.get(5)</td>
		</tr>
#end
	</tbody>
</table>

<p style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, 'Trebuchet MS'; font-size: 13px; line-height: 20.7999992370605px; text-align: center;">&nbsp;</p>

<p style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, 'Trebuchet MS'; font-size: 13px; line-height: 20.7999992370605px; text-align: center;">&nbsp;</p>

<p style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, 'Trebuchet MS'; font-size: 13px; line-height: 20.7999992370605px; text-align: center;">&nbsp;</p>

<p style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, 'Trebuchet MS'; font-size: 13px; line-height: 20.7999992370605px; text-align: center;">SUPERVISOR SIGN &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;LABOUR SIGN &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;ARCHITECT</p>

<p style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, 'Trebuchet MS'; font-size: 13px; line-height: 20.7999992370605px; text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; CARPENTER/ELECTRICIAN/ETC.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; S.HARIHARASUDHAN, B Arch, A.I.I.A</p>
</body>
</html>